<h3> Employee Report</h3>
<div>
    <div>
        <label> <b> First Name: </b></label> {{employee.firstName}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{employee.lastName}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> {{employee.emailId}}
    </div>
    <!-- NEED TO SPECIFY BAND AND SKILL -->
    <div>
        <label> <b> Band/Grade: </b></label> {{employee.band}}
    </div>
    <div>
        <label> <b> Skills: </b></label> {{employee.skills}}
    </div>
</div>